body {
  font-family: var(--yazi-tipi) !important;
}
.ayrac {
  font-size: 20px;
  margin: 0px 20px;
  color: var(--white);
}
.nav-bg {
  background-color: rgba(122, 122, 122, 0.356);
}

.header-yuk {
  height: calc(50vh - 70px);
}
.sayfa-baslik h3 {
  color: var(--main-color);
  font-weight: bold;
}
.sayfa-baslik p {
  color: white;
  font-weight: bold;
}
.nav-link {
  color: white;
}

.ust-kisim {
  background-image: url(resimler/bg-2.jpeg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ust-kisim3 {
  background: rgba(0, 0, 0, 0.65)
    url("resimler/d95e6832254a4bd5974ad2a45d9a6932.jpg");
  background-blend-mode: darken;

  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ust-kisim-sayfalar {
  background-image: url(resimler/ust-bg-2.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.nav-item a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.nav-item a:hover {
  color: white;
}
.navbar-toggler {
  color: #f4b70b;
  border: 1px solid #f4b70b;
}
.navbar-toggler:hover {
  border: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (max-width: 992px) {
  .ayrac {
    display: none;
  }
  .nav-item:hover {
    background-color: black;
  }
  .navbar-toggler {
    z-index: 999;
    position: fixed;
    right: 10px;
    top: 20px;
  }
  .navbar-toggler:hover {
    border: 1px solid black;
  }
  .pozisyon {
    width: 100%;
    height: 100vh;
    background-color: var(--ana-renk);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 70px;
  }
}

.bosluk {
  margin-top: 100px;
}



.dropdown-menu li {
  background-color: rgb(4, 4, 4);
  color: rgb(0, 0, 0);
}
.modal-content {
  background-color: rgb(33, 33, 33) !important;
  border: 3px solid white !important;
}
.modal-tittle {
  opacity: 1 !important;
}
.modal-title {
  color: var(--white);
}
.input-group input {
  background-color: rgb(0, 0, 0) !important;
  border-color: var(--black) !important;
}
.input-group div {
  background-color: rgb(255, 254, 254) !important;
  border-color: black !important;
}
.input-group i {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}

.input-group input:focus {
  background-color: var(--black);
  border: 5px solid rgb(0, 0, 0) !important;
  outline: 0px !important;
  box-shadow: none !important;
}
.container2 button {
  background-color: var(--black);
  border: none;
}
#exampleCheck1 {
  accent-color: var(--black);
}
.modal-dialog {
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.nav-item button:focus {
  background-color: var(--black);
  border: 5px solid rgba(0, 0, 0, 0) !important;
  outline: 0px !important;
  box-shadow: none !important;
  border: var(--main-color);
}

body {
  margin: 0;
}

.bg {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption .border {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.generic {
  padding: 100px 0;
}
.dark-bg {
  background-image: url("resimler/main_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg-image2 {
  background-image: url("resimler/main_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 20vh;
}

.bg-image3 {
  background-image: url("resimler/bg-3.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 50vh;
}

.generic .container .row .card {
  box-shadow: rgba(255, 255, 255, 0.4) -5px 5px,
    rgba(199, 199, 199, 0.3) -10px 10px, rgba(126, 126, 126, 0.2) -15px 15px,
    rgba(87, 87, 87, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transition: transform 0.3s; /* Animation */
}

.generic .container .row .card:hover {
  transform: scale(1.1);
}

h1 {
  overflow: hidden;
  text-align: center;
  font-family: var(--yazi-tipi);
}

h1:before,
h1:after {
  background-color: var(--white);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

.self .container .row .w h1 {
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace !important;
  letter-spacing: 7px;
  cursor: pointer;
}

h1 {
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

h1 {
  transition: 0.8s ease-out;
}

h1:hover {
  color: var(--white);
  text-shadow: 0 0 10px var(--white), 0 0 20px var(--white), 0 0 30px #fff;
}
.generic .container .about {
  box-shadow: rgba(255, 255, 255, 0.4) -5px 5px,
    rgba(199, 199, 199, 0.3) -10px 10px, rgba(126, 126, 126, 0.2) -15px 15px,
    rgba(87, 87, 87, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  transition: transform 0.3s; /* Animation */
}

.generic .container .about:hover {
  transform: scale(1.1);
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #333;
  color: var(--white);
}

@media (max-width: 992px) {
  .container {
    padding: 20px 100px;
  }
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .container {
    padding: 10px 50px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  hr {
    margin: 30px 0;
  }
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

#owl-demo .item {
  background-color: transparent;
  padding: 30px 0px;
  margin: 10px;
  color: var(--white);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.4) -5px 5px,
    rgba(199, 199, 199, 0.3) -10px 10px, rgba(126, 126, 126, 0.2) -15px 15px,
    rgba(87, 87, 87, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  background-size: cover;
}

.footer {
  background-color: var(--footer);
  height: 300px;
  color: #95a5a6;
}
.footer p {
  font-size: 18px;
}
.footer-sutun {
  height: 300px;
}

.generic,
.blog,
.self,
.movies {
  background-color: var(--main-color);
}

.self .container .row .w .hedefler .self-img {
  border-radius: 3%;
  box-shadow: rgba(255, 255, 255, 0.4) -5px 5px,
    rgba(199, 199, 199, 0.3) -10px 10px, rgba(126, 126, 126, 0.2) -15px 15px,
    rgba(87, 87, 87, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

  height: 30vh;
}

.ust-kısım .navbar {
  padding: 15px;
}

.name {
  position: relative;
  top: 400px;
}

.dropdown {
  position: relative;
  top: 9px;
}
.fayraç {
  position: relative;
  top: 9px;
}

a.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

li .nav-link:hover,
button:hover {
  scale: 1.1;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--white);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container2 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--white);
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--white);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--white);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--white);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--white) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--white);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container2::before {
    left: 60px;
    border: medium solid var(--white);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--white) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

#owl-demo2 .item {
  background: #42bec200;
  padding: 20px 0px;
  margin: 10px;
  color: var(--white);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

ol.s {
  list-style-type: inherit;
}

.fa-brands:hover {
  scale: 1.1;
  transition-delay: 0.1s;
}

.place {
  background-repeat: no-repeat;
  background-image: url(resimler/c19c7361a570045b70ace477bdae75d8.jpg);
}

.owl-carousel .item span {
  opacity: 0.8;
  font-size: 20px;
}

.owl-carousel .item a {
  text-decoration: none;
  color: var(--white);
}

.owl-carousel .item:hover span {
  opacity: 1;
  text-decoration: none;
}

.generic .container .row .active {
  scale: 1.1;

  box-shadow: rgba(62, 13, 13, 0.4) -5px 5px, rgba(58, 11, 11, 0.3) -10px 10px,
    rgba(58, 7, 7, 0.2) -15px 15px, rgba(33, 2, 2, 0.1) -20px 20px,
    rgba(45, 10, 3, 0.05) -25px 25px;
  transition: transform 0.3s; /* Animation */
}

.pota {
  background: url(resimler/pota.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

#contactForm {
  height: 70vh;
  width: 100%;
}
.nav-item .selected {
  color: blueviolet;
}

#contactForm {
  background-color: var(--main-color);
}

.ust-kisim4 {
  color: var(--ana-renk);
  background-color: #2c3e50;
}
.error {
  color: red;
  font-family: var(--yazi-tipi);
}
